In [1]:
import pandas as pd

### 0. Importação

In [2]:
df = pd.read_csv(r'C:\Users\ednae\Documents\Repositórios\e-waste\data\processed\dados_gerais_tratados.csv',index_col=[0],encoding='iso-8859-1')

### 1. Ajustes

- .1 - Variável do conhecimento sobre economia circular
- .2 - Remoção de colunas indiferentes para a análise
- .3 - Remoção dos timestamps
- .4 - Ajuste das localidades

In [4]:
df['Self knowledge about circular economy'].replace({'Very High':'4'},inplace=True)
df.drop(['Do you agree to participate in this study?','explanation','Do you like to leave any comment?'],axis=1,inplace=True)

In [5]:
df.reset_index(drop=True,inplace=True)

In [6]:
df

,M1.1,M1.2,M1.3,M1.4,M1.5,M1.6,M1.7,M1.8,M1.9,M1.10,...,M24.8,M24.9,M24.10,Local,Do you act directly with the circular economy?,Self knowledge about circular economy,What is your segment of acting?,What sector does your organization operate in?,company_size,How do you describe your position in your organization?
0,4.0,4.0,3.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0,...,4.0,4.0,3.0,UK,1,4,Academia/Research Institution,Quinary Sector (involves non-profit services s...,Grande,senior researcher
1,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,Brazil,1,4,Academia/Research,Quinary Sector,Grande,Staff (operational jobs)
2,3.0,5.0,5.0,4.0,4.0,2.0,2.0,3.0,3.0,4.0,...,5.0,4.0,4.0,"Indianapolis, IN, USA",1,4,Consultancy,Quaternary Sector (involves intellectual activ...,Individual,Executive or Strategic Manager (Senior execut...
3,4.0,2.0,4.0,4.0,4.0,4.0,4.0,5.0,5.0,4.0,...,4.0,4.0,4.0,India,0,4,Academia/Research Institution,Quaternary Sector (involves intellectual activ...,Pequena,"Managers(Senior manager, manager)"
4,3.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0,5.0,3.0,...,4.0,5.0,5.0,"Spain, Barcelona",1,4,Consultancy,Secondary Sector (involves the transformation ...,Micro,Executive or Strategic Manager (Senior execut...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,4.0,5.0,5.0,5.0,5.0,4.0,4.0,4.0,5.0,5.0,...,5.0,5.0,5.0,Brazil,1,4,Academia/Research,Quaternary Sector,Individual,Gerente executivo ou estratÃ©gico (Executivo S...
348,5.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0,...,5.0,5.0,5.0,Brazil,1,4,Academia/Research,Quaternary Sector,Grande,Professor
349,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,Brazil,1,4,Academia/Research,Quinary Sector,Grande,Staff (operational jobs)
350,3.0,2.0,2.0,1.0,3.0,5.0,5.0,5.0,5.0,3.0,...,2.0,5.0,4.0,Brazil,1,4,Waste management,Primary Sector,Pequena,"Middle Management (Senior director, director)"
351,5.0,5.0,4.0,4.0,5.0,3.0,3.0,3.0,3.0,3.0,...,4.0,4.0,5.0,Brazil,1,4,Academia Research,Quaternary Sector,Grande,Estudante

#### `1.4 - Ajuste das localidades`

In [49]:
df['Local'].value_counts()[0:20]

Denmark          112
Pakistan         104
Brazil            67
Italy             23
Netherlands        4
Spain              4
USA                3
Bologna            3
Canada             2
Brasil             2
Sweden             2
Germany            1
Belgium            1
De                 1
UK                 1
North Jutland      1
India              1
Serbia             1
South Africa       1
South Asia         1
Name: Local, dtype: int64

In [46]:
df['Local'] = [i if 'Denmstk' not in str(i) else 'Denmark' for i in df['Local']]

In [44]:
df['Local'] = [i if 'Milano' not in str(i) else 'Italy' for i in df['Local']]

In [37]:
df['Local'] = [i if 'italia' not in str(i) else 'Italy' for i in df['Local']]

In [33]:
df['Local'] = [i if 'Danmark' not in str(i) else 'Denmark' for i in df['Local']]

In [31]:
df['Local'] = [i if 'Netherlands' not in str(i) else 'Netherlands' for i in df['Local']]

In [29]:
df['Local'] = [i if 'Italy' not in str(i) else 'Italy' for i in df['Local']]

In [28]:
df['Local'] = [i if 'Italia' not in str(i) else 'Italy' for i in df['Local']]

In [26]:
df['Local'] = [i if 'denmark' not in str(i) else 'Denmark' for i in df['Local']]

In [23]:
df['Local'] = [i if 'Germany' not in str(i) else 'Germany' for i in df['Local']]

In [22]:
df['Local'] = [i if 'Portugal' not in str(i) else 'Portugal' for i in df['Local']]

In [20]:
df['Local'] = [i if 'Espanha' not in str(i) else 'Spain' for i in df['Local']]

In [16]:
df['Local'] = [i if 'Sweden' not in str(i) else 'Sweden' for i in df['Local']]

In [14]:
df['Local'] = [i if 'Brasil' not in str(i) else 'Brasil' for i in df['Local']]

In [8]:
df['Local'] = [i if 'Denmark' not in str(i) else 'Denmark' for i in df['Local']]

In [9]:
df['Local'] = [i if 'Belgium' not in str(i) else 'Belgium' for i in df['Local']]

In [10]:
df['Local'] = [i if 'Spain' not in str(i) else 'Spain' for i in df['Local']]

In [11]:
df['Local'] = [i if 'USA' not in str(i) else 'USA' for i in df['Local']]

In [48]:
df['Local'].replace({'Copenhage':'Denmark','Copenhagen':'Denmark','Copenhagen ':'Denmark',
'Denamrk':'Denmark','Taastrup':'Denmark','MODENA':'Italy','Arnhem':'Netherlands','Roma':'Italy'},inplace=True)

In [50]:
df.to_csv('dados_gerais_FINAL.csv')

### 2. Correção das profissões

- `SETOR DE ATUAÇÃO`
- `SECTOR`

--- `SETOR DE ATUAÇÃO`

In [51]:
df['How do you describe your position in your organization?'].value_counts()

Executive or Strategic Manager  (Senior executive, executive)    47
Staff (operational jobs)                                         44
Managers(Senior manager, manager)                                40
Advisor (Senior advisor, advisor)                                39
Middle Management (Senior director, director)                    26
                                                                 ..
Staff (operational jobs), Researcher                              1
Student at AAU                                                    1
Staff (operational jobs), Research Analyst                        1
PhD                                                               1
estudante                                                         1
Name: How do you describe your position in your organization?, Length: 75, dtype: int64

In [62]:
df.iloc[:,-1] = df.iloc[:,-1].apply(lambda x: str(x))
df.iloc[:,-1] = [i[:i.find('(')] if '(' in i else i[:] for i in df.iloc[:,-1]]

In [63]:
df['How do you describe your position in your organization?'].value_counts()[0:3]

Executive or Strategic Manager      51
Advisor                             46
Staff                               46
Name: How do you describe your position in your organization?, dtype: int64

--- `SECTOR`

In [66]:
df['What sector does your organization operate in?'].value_counts

<bound method IndexOpsMixin.value_counts of 0      Quinary Sector (involves non-profit services s...
1                                        Quinary Sector
2      Quaternary Sector (involves intellectual activ...
3      Quaternary Sector (involves intellectual activ...
4      Secondary Sector (involves the transformation ...
                             ...
347                                    Quaternary Sector
348                                    Quaternary Sector
349                                       Quinary Sector
350                                      Primary Sector
351                                    Quaternary Sector
Name: What sector does your organization operate in?, Length: 352, dtype: object>

In [78]:
df.iloc[:,-3] = df.iloc[:,-3].apply(lambda x: str(x))
df.iloc[:,-3] = [i[:i.find('(')-1] if '(' in i else i[:] for i in df.iloc[:,-3]]

In [79]:
df['What sector does your organization operate in?'].value_counts().index

Index(['Quaternary Sector ', 'Quaternary Sector', 'Secondary Sector ',
       'Quinary Sector', 'Quinary Sector ', 'Tertiary sector ',
       'Primary Sector ', 'Primary Sector', 'Tertiary Sector',
       'Settore terziario ', 'Secondary Sector', 'nan', 'Settore quaternario ',
       'Tertiary sector', 'Settore secondario ', 'Settore quinario ',
       'Setor QuaternÃ¡rio ', 'University', 'Setor SecundÃ¡rio ',
       'cross-sectoral /Industrial ecology', 'university',
       'i'm still under education', 'Unemployed', 'municipality',
       'Primary sector', 'Research and education', 'Tertiary Sector ',
       'Research sector', 'Setor QuinÃ¡rio '],
      dtype='object')

In [83]:
df['What sector does your organization operate in?'].replace({'Primary Sector ':'Primary Sector',
    'Secondary Sector ':'Secondary Sector','Setor SecundÃ¡rio ':'Secondary Sector','Settore secondario ':'Secondary Sector',
    'Tertiary Sector ':'Tertiary Sector','Settore terziario ':'Tertiary Sector',
    'Quaternary Sector ':'Quaternary Sector','Setor QuaternÃ¡rio ':'Quaternary Sector','Settore quaternario ':'Quaternary Sector',
    'Quinary Sector ':'Quinary Sector','Settore quinario ':'Quinary Sector','Setor QuinÃ¡rio ':'Quinary Sector',
    'university':'University'
    },inplace=True
)

In [95]:
df['What sector does your organization operate in?'].value_counts()

Quaternary Sector                     111
Quinary Sector                         74
Secondary Sector                       57
Tertiary sector                        35
Primary Sector                         29
Tertiary Sector                        24
nan                                     8
Tertiary sector                         4
University                              3
Research sector                         1
Research and education                  1
Primary sector                          1
municipality                            1
Unemployed                              1
i'm still under education               1
cross-sectoral /Industrial ecology      1
Name: What sector does your organization operate in?, dtype: int64

In [96]:
df['What sector does your organization operate in?'] = df['What sector does your organization operate in?'].apply(lambda x: x.title())
df['What sector does your organization operate in?'].value_counts()

Quaternary Sector                     111
Quinary Sector                         74
Secondary Sector                       57
Tertiary Sector                        35
Primary Sector                         30
Tertiary Sector                        28
Nan                                     8
University                              3
Research Sector                         1
Research And Education                  1
Municipality                            1
Unemployed                              1
I'M Still Under Education               1
Cross-Sectoral /Industrial Ecology      1
Name: What sector does your organization operate in?, dtype: int64

In [98]:
df.to_csv('dados_gerais_FINAL.csv')