In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dados_gerais_04_11_2023.csv',index_col=[0])

# RoadMap

- Segmentação dos dados
    - 1. Recorte do dataset original para pesquisadores e não trabalhadores [Por medida]
    - 2. Recorte das avaliações de cada grupo [Por medida]
    - 3. Recorte do dataset original para pesquisadores e não trabalhadores [Por critérios]
    - 4. Recorte das avaliações de cada grupo [Por critérios]    
- Criação de Radarcharts para:
    - Avaliação pela soma
    - Avaliação pela proporção de 4's e 5's
    - Avaliação pela agregação dos critérios nos 4 subgrupos

In [3]:
df_workers = df[df['What is your segment of acting?']!='Academia/Research Institution']

In [4]:
df_academy = df[df['What is your segment of acting?']=='Academia/Research Institution']

In [5]:
df_academy.head(2)

,M1.1,M1.2,M1.3,M1.4,M1.5,M1.6,M1.7,M1.8,M1.9,M1.10,...,M24.8,M24.9,M24.10,Local,Do you act directly with the circular economy?,Self knowledge about circular economy,What is your segment of acting?,What sector does your organization operate in?,company_size,How do you describe your position in your organization?
0,4.0,4.0,3.0,4.0,4.0,2.0,2.0,2.0,2.0,3.0,...,2.0,2.0,3.0,UK,1,4.0,Academia/Research Institution,Quinary Sector,Grande,senior researcher
1,4.0,4.0,4.0,4.0,4.0,2.0,2.0,2.0,2.0,4.0,...,2.0,2.0,4.0,Brazil,1,4.0,Academia/Research Institution,Quinary Sector,Grande,Staff

### Separação - Medidas para Workers

In [6]:
import numpy as np
lista = np.arange(0,24)

In [7]:
lista

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [8]:
workers_medidas={}

In [9]:
for i in lista:
    workers_medidas[i]=pd.DataFrame()
    
for i in np.arange(0,24):
    workers_medidas[i] = pd.DataFrame(df_workers.iloc[:,i*10:(i+1)*10])

### Separação - Medidas para Academy

In [10]:
academy_medidas = {}

In [11]:
for i in lista:
    academy_medidas[i]=pd.DataFrame()
    
for i in np.arange(0,24):
    academy_medidas[i] = pd.DataFrame(df_academy.iloc[:,i*10:(i+1)*10])

### Separação - Critérios para Workers

In [12]:
lista2 = np.arange(1,11)

In [13]:
workers_criterios={}
for i in lista2:
    workers_criterios[i] = pd.DataFrame()

In [14]:
for i in lista2:
    workers_criterios[i]=df_workers.iloc[:,i-1:240:10]

In [15]:
workers_criterios[10].head()

,M1.10,M2.10,M3.10,M4.10,M5.10,M6.10,M7.10,M8.10,M9.10,M10.10,...,M15.10,M16.10,M17.10,M18.10,M19.10,M20.10,M21.10,M22.10,M23.10,M24.10
2,4.0,4.0,3.0,4.0,3.0,5.0,4.0,4.0,5.0,4.0,...,4.0,5.0,5.0,5.0,4.0,5.0,4.0,5.0,5.0,4.0
4,3.0,4.0,4.0,5.0,4.0,4.0,4.0,4.0,4.0,5.0,...,4.0,5.0,4.0,4.0,4.0,4.0,5.0,5.0,4.0,5.0
5,3.0,5.0,5.0,3.0,5.0,5.0,3.0,5.0,4.0,4.0,...,3.0,4.0,3.0,3.0,2.0,4.0,4.0,4.0,2.0,4.0
6,3.0,3.0,4.0,4.0,3.0,4.0,4.0,4.0,3.0,3.0,...,2.0,2.0,4.0,3.0,3.0,1.0,2.0,2.0,4.0,3.0
7,3.0,4.0,3.0,4.0,4.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0

### Separação - Critérios para Academy

In [16]:
lista2 = np.arange(1,11)

In [17]:
academy_criterios={}
for i in lista2:
    academy_criterios[i] = pd.DataFrame()

In [18]:
for i in lista2:
    academy_criterios[i]=df_academy.iloc[:,i-1:240:10]

In [19]:
academy_criterios[10].head()

,M1.10,M2.10,M3.10,M4.10,M5.10,M6.10,M7.10,M8.10,M9.10,M10.10,...,M15.10,M16.10,M17.10,M18.10,M19.10,M20.10,M21.10,M22.10,M23.10,M24.10
0,3.0,3.0,4.0,3.0,3.0,4.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
1,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
3,4.0,4.0,5.0,5.0,4.0,4.0,2.0,2.0,4.0,4.0,...,3.0,2.0,2.0,4.0,4.0,4.0,5.0,4.0,2.0,4.0
8,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,5.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
9,3.0,4.0,5.0,4.0,4.0,4.0,3.0,4.0,5.0,4.0,...,4.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,5.0,5.0

### Radarcharts

In [20]:
academy_criterios[2].median()

M1.2     4.0
M2.2     4.0
M3.2     4.0
M4.2     4.0
M5.2     4.0
M6.2     4.0
M7.2     4.0
M8.2     4.0
M9.2     4.0
M10.2    4.0
M11.2    4.0
M12.2    4.0
M13.2    4.0
M14.2    4.0
M15.2    4.0
M16.2    4.0
M17.2    4.0
M18.2    4.0
M19.2    4.0
M20.2    4.0
M21.2    4.0
M22.2    4.0
M23.2    4.0
M24.2    4.0
dtype: float64